<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chaos.sleepcry"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:label="@string/app_name"
            android:name=".BusecretaryActivity"
            android:launchMode="singleTask" 
            android:clearTaskOnLaunch="true"
            android:alwaysRetainTaskState="false"
            >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:finishOnTaskLaunch="true"
            android:multiprocess="false"
            android:name = ".NotifyActivity"
            android:allowTaskReparenting="false"
            android:alwaysRetainTaskState="false"
            android:noHistory="false"
            android:process=":remote" >
        </activity>

        <receiver android:name=".NotifyReceiver" 
            android:process=":remote">
        </receiver>

    </application>

</manifest>