<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chaos.sleepcry.busecretary"
    android:versionCode="1"
    android:versionName="1.0" >
    <uses-sdk android:minSdkVersion="8" />
    <application
        android:icon="@drawable/todo4"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar" >
        <activity
            android:name="com.chaos.sleepcry.busecretary.BusecretaryActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black">
        </activity>
        <activity
            android:name="com.chaos.sleepcry.busecretary.notify.NotifyActivity"
            android:finishOnTaskLaunch="true"
            android:multiprocess="false"
            android:noHistory="true" >
        </activity>
        <activity
            android:name="com.chaos.sleepcry.busecretary.loading.LoadingActivity"
            android:finishOnTaskLaunch="true"
            android:icon="@drawable/todo4"
            android:label="@string/app_name"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.google.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation" />
        <activity
            android:name="com.chaos.sleepcry.busecretary.append.AppendActivity"
            android:icon="@drawable/todo4"
            android:label="@string/app_name" >
        </activity>
        <activity android:name="com.chaos.sleepcry.busecretary.canvasedit.CanvasEditActivity" >
        </activity>
        <receiver android:name="com.chaos.sleepcry.busecretary.notify.NotifyReceiver" >
            <intent-filter>
                <action android:name="com.chaos.sleepcry.NEXT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.chaos.sleepcry.PREVIOUS" />
            </intent-filter>
        </receiver>
        <!-- <receiver
            android:name="com.chaos.sleepcry.busecretary.widget.BsWidget"
            android:icon="@drawable/todo4" >
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/buse" >
            </meta-data>
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
        </receiver> -->
        <activity
            android:name=".canvasedit.Settings"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.google.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
</manifest>